<form class="seoratings-backend__form" id="seoratings-category-edit-form">
  <nav id="seoratings-nav-top"></nav>
  <div class="seoratings-backend__main">
    Выбран вариант генерации из Список товаров (стандартный функционал Shop-Script). Вернитесь на страницу 
    настроек и выберите список, на основе которого будет сгенерирован рейтинг.
  </div>
</form>